/* .cakes_page_container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--main-font);
} */

.images_container {
  width: 100%;
  margin: 0 auto;
}

.cake_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 10px;
  opacity: 0.8;
  transition: 0.2s;
  border-radius: 7%;
  cursor: pointer;
}

.cake_image:hover {
  opacity: 1;
  transform: scale(1.05);
  transition: 0.2s;
}

.modal_cake_image {
  height: 100%;
  width: 100%;
  object-fit: contain;
  filter: drop-shadow(10px 10px 10px rgb(0, 0, 0, 0.3));
}

.modal_design_tag {
  margin: 10px;
  color: var(--bg-accent);
  font-size: 1.3rem;
}
