.cart_title {
  font-size: 2rem;
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 3rem;
  margin: 0;
  color: var(--bg-accent);
}

.empty_msg {
  padding-top: 5rem;
  font-size: 2rem;
  color: gray;
  user-select: none;
  height: 50vh;
}

.item_thumbnail_container:hover .item_thumbnail {
  opacity: 0.7;
  transition: 0.3s;
}

.item_thumbnail_container:hover .item_title {
  text-decoration-color: rgba(0, 0, 0, 1);
  text-underline-offset: 7px;
  transition: 0.2s;
}

.item_thumbnail {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
  transition: 0.3s;
}

.item_title {
  font-size: 1rem;
  text-align: start;
  text-decoration: underline 1px rgba(0, 0, 0, 0);
  text-underline-offset: 7px;
  transition: 0.2s;
  padding: 0.5rem 0.5rem;
}

.border_bottom {
  border-bottom: 1px solid #de6061;
}

.delete_button {
  font-size: 2.2rem;
  color: gray;
  cursor: pointer;
  padding: 5px;
  transition: 0.3s;
}

.delete_button:hover {
  color: black;
  transition: 0.3s;
}

.total_text_container {
  border-top: 1px solid #de6061;
  border-bottom: 1px solid #de6061;
  padding: 2rem 1rem;
}

.total_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;
  font-size: 1.7rem;
  padding: 10px;
}

.total_text div:first-child {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 8px;
}

.cart_table {
  border-color: #de6061;
}

.cart_table th {
  vertical-align: middle;
  padding: 0.5rem 1rem !important;
}

.cart_table td {
  vertical-align: middle;
  padding: 1.5rem 1.5rem !important;
}

.option_text {
  font-size: 0.8rem;
  padding: 0.5rem 0.5rem;
}

.order_navigation {
  display: flex;
  font-size: 0.8rem;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  padding-right: 2rem !important;
}

.delete_button {
  position: absolute;
  width: 30px;
  top: 10px;
  right: 10px;
}

@media screen and (max-width: 992px) {
  .item_thumbnail_container {
    display: flex;
    justify-content: space-around;
  }

  .item_thumbnail {
    width: 130px;
    height: 130px;
  }

  .delete_button {
    position: relative;
    top: 0;
    left: 0;
    width: fit-content !important;
  }
}
