.login_container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - var(--nav-height));
  justify-content: center;
  align-items: center;
  font-family: GowunBatang;
  position: relative;
  bottom: 4rem;
}

.login_logo {
  width: 80vw;
  max-width: 500px;
  margin: 7rem 0;
}

.form_container {
  width: 80vw;
  max-width: 500px;
}

.input_area_email,
.input_area_password {
  border-radius: 0 !important;
  border-color: pink !important;
  height: 3.5rem !important;
  padding: 0 1.2rem !important;
}

.input_area_email {
  position: relative !important;
  bottom: -1px !important;
}

.input_area_password {
  border-right: none !important;
}

.input_area_email:focus,
.input_area_password:focus {
  box-shadow: none !important;
  border-color: pink !important;
}

.input_area_button {
  cursor: pointer;
  border-radius: 0 !important;
  border-color: pink !important;
  background-color: white !important;
  border-left: none !important;
  font-size: 1.5rem !important;
  padding: 0 20px !important;
}

.form-check {
  display: flex !important;
  align-items: center;
}

.form-check > input {
  height: 1.2rem;
  width: 1.2rem;
  margin-right: 0.6rem;
}

.form-check-input,
.form-check-input:checked {
  border-color: pink !important;
  box-shadow: none !important;
}

.form-check-input:focus {
  border-color: pink !important;
}

.form-check-input:checked {
  background-color: pink !important;
}

.login_button {
  background-color: pink !important;
  border: none !important;
  height: 3.5rem;
  color: rgba(33, 37, 41, 0.7) !important;
  font-weight: bold !important;
  /* color: black !important; */
}

.help_link {
  opacity: 0.7;
  text-align: end;
}

.help_link > a {
  cursor: pointer;
}

.help_link > a:hover {
  opacity: 1 !important;
  text-decoration: underline 1px rgba(33, 37, 41, 0.5) !important;
  text-underline-offset: 5px;
}

.help_link > span {
  pointer-events: none;
}

.checked {
  color: rgb(0, 150, 0);
  font-size: 20px;
}

@media screen and (max-width: 992px) {
  .help_link {
    margin: 1em 0;
  }
}
