.mypage_title {
  margin: 2rem 0;
  font-weight: bold;
  /* color: var(--bg-accent); */
  /* text-decoration: underline 1px solid var(--bg-accent);
  text-underline-offset: 18px; */
}

.order_history_lookup {
  padding: 2rem;
  border-top: 2px solid var(--bg-accent);
  border-bottom: 1px solid var(--bg-accent);
}

.order_history_lookup_item {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-height: max-content;
}

.order_history_lookup_text {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1rem;
  white-space: nowrap;
}

.order_history_lookup_arrow {
  color: var(--bg-accent);
  height: 25px;
  width: 25px;
}

@media screen and (max-width: 992px) {
  .order_history_lookup_text {
    text-align: center;
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
    white-space: nowrap;
  }

  .order_history_lookup_arrow {
    height: 16px;
    width: 16px;
  }
}
