.detail_container {
  /* height: 100vh; */
  padding-top: 4rem;
}

.detail_container > * {
  font-family: var(--main-font) !important;
}

.image_container {
  position: sticky;
  padding: 0 3rem !important;
  height: fit-content;
  top: calc(var(--nav-height) + 1.5rem);
}

.detail_img {
  width: 100%;
  max-height: 700px;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.warning {
  font-size: 0.5rem;
  color: gray;
  text-align: end;
  white-space: nowrap;
}

.plus_tag {
  height: 100px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(184, 161, 148);
  border-radius: 15px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.plus_tag span {
  color: var(--bg);
  font-size: 0.8rem;
}

@media screen and (max-width: 992px) {
  .image_container {
    position: relative;
    top: 0;
  }

  .detail_img {
    height: 40vh;
  }

  .plus_tag {
    flex-direction: column;
    background-color: transparent;
    box-shadow: none;
  }

  .plus_tag span {
    font-size: 0.2rem;
    color: black;
  }
}

.css-pbg3za-MuiGrid-root-MuiPickersToolbar-content {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.css-1hbyad5-MuiTypography-root,
.MuiClockPicker-arrowSwitcher,
.MuiPickersToolbar-penIconButton {
  display: none !important;
}

.css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
  width: 100%;
}

.mui_x_custom * {
  font-family: var(--main-font) !important;
}

.option_menu_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
  border-bottom: 1px solid rgba(129, 58, 8, 0.3);
}

.option_menu_text {
  font-size: 1.2rem;
}

.controller_container {
  width: 60%;
}

.order_preview {
  border-bottom: 2px solid rgba(129, 58, 8, 0.5);
}

.input_visible {
  display: block;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.input_hide {
  display: none;
}

.remove_button {
  padding: 0 10px;
  cursor: pointer;
}

.disabled_text {
  font-size: 0.5rem;
  color: gray;
}
