.detail_container {
  padding-top: 4rem;
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}

/* @media screen and (max-width: 1200px) {
  .detail_container {
    max-width: max-content !important;
  }
} */

.detail_container > * {
  font-family: var(--main-font) !important;
}

.image_container {
  position: sticky;
  padding-right: 5rem !important;
  height: fit-content;
  top: calc(var(--nav-height) + 4rem);
}

.detail_img {
  width: 100%;
  max-height: 700px;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.warning {
  font-size: 0.8rem;
  margin-top: 0.5rem;
  color: gray;
  text-align: end;
  white-space: nowrap;
}

.plus_tag {
  height: 100px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(184, 161, 148);
  border-radius: 15px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.plus_tag span {
  color: var(--bg);
  font-size: 0.8rem;
}

@media screen and (max-width: 992px) {
  .image_container {
    position: relative;
    top: 0;
    padding: 0 !important;
  }

  .detail_img {
    height: 40vh;
  }

  .plus_tag {
    flex-direction: column;
    background-color: transparent;
    box-shadow: none;
  }

  .plus_tag span {
    font-size: 0.2rem;
    color: black;
  }
}

.css-1eurbeq-MuiPickersToolbar-root-MuiDatePickerToolbar-root {
  display: none !important;
}

.css-pbg3za-MuiGrid-root-MuiPickersToolbar-content {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.css-1hbyad5-MuiTypography-root,
.MuiClockPicker-arrowSwitcher,
.MuiPickersToolbar-penIconButton,
.MuiTimePickerToolbar-ampmSelection {
  display: none !important;
}

/* @media screen and (max-width: 992px) {
  .MuiTimePickerToolbar-ampmSelection {
    display: block !important;
  }
  .MuiTimePickerToolbar-ampmSelection button span{
    margin: 0 5px;
    font-weight: bold !important;
  }
} */

.MuiClock-amButton {
  position: absolute !important;
  width: 3rem !important;
  height: 3rem !important;
  top: 22px !important;
  left: 60% !important;
}

.MuiClock-pmButton {
  position: absolute !important;
  width: 3rem !important;
  height: 3rem !important;
  top: 22px !important;
  left: 75% !important;
}

.css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
  width: 100%;
}

.mui_x_custom * {
  font-family: var(--main-font) !important;
}

.option_menu_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
  border-bottom: 1px solid rgba(129, 58, 8, 0.3);
  font-size: 1rem !important;
}

.ant-picker-content ul:nth-child(1) {
  border-inline-start: 1px solid rgba(5, 5, 5, 0.06);
  order: 2;
}
.ant-picker-content ul:nth-child(2) {
  border-inline-start: 1px solid rgba(5, 5, 5, 0.06);
  order: 3;
}
.ant-picker-content ul:nth-child(3) {
  border-inline-start: 1px solid rgba(5, 5, 5, 0.06);
  order: 1;
}

.ant-picker-content ul:last-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ant-picker-content ul:last-child::after {
  display: none;
}

/* font-size: clamp(0.8rem, 1vw, 1rem) !important; */

.controller_container {
  width: 60%;
}

.order_preview {
  border-bottom: 2px solid rgba(129, 58, 8, 0.5);
}

.input_visible {
  display: block;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.input_hide {
  display: none;
}

.remove_button {
  padding: 0 10px;
  cursor: pointer;
}

.disabled_text {
  font-size: 0.5rem;
  color: gray;
}
