.detail_container {
  padding-top: 4rem;
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}

/* @media screen and (max-width: 1200px) {
  .detail_container {
    max-width: max-content !important;
  }
} */

.detail_container > * {
  font-family: var(--main-font) !important;
}

.image_container {
  position: sticky;
  padding-right: 5rem !important;
  height: fit-content;
  top: calc(var(--nav-height) + 4rem);
}

.detail_img {
  width: 100%;
  max-height: 700px;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.warning {
  font-size: 0.8rem;
  margin-top: 0.5rem;
  color: gray;
  text-align: end;
  white-space: nowrap;
}

.plus_tag {
  height: 100px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(184, 161, 148);
  border-radius: 15px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.plus_tag span {
  color: var(--bg);
  font-size: 0.8rem;
}

@media screen and (max-width: 992px) {
  .image_container {
    position: relative;
    top: 0;
    padding: 0 !important;
  }

  .detail_img {
    height: 40vh;
  }

  .plus_tag {
    flex-direction: column;
    background-color: transparent;
    box-shadow: none;
  }

  .plus_tag span {
    font-size: 0.2rem;
    color: black;
  }
}

.option_menu_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
  border-bottom: 1px solid rgba(129, 58, 8, 0.3);
  font-size: 1rem !important;
}

.option_menu_section * {
  font-family: var(--main-font) !important;
}

.cake_size_section {
  max-width: 100%;
  /* overflow-x: scroll; */
}

.image_button_container {
  font-size: 0.9rem;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.size_image {
  width: 70px;
  height: 70px;
  margin-bottom: 10px;
}

.sheet_image {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
  border-radius: 5px;
}

@media screen and (max-width: 992px) {
  .size_image {
    width: 55px;
    height: 55px;
    margin-bottom: 10px;
  }

  .sheet_image {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
    border-radius: 5px;
  }
}

.Mui-selected .size_image {
  filter: brightness(0) invert(1);
}

.diameter {
  font-size: 0.7rem;
}

.ant-picker-content ul:nth-child(1) {
  border-inline-start: 1px solid rgba(5, 5, 5, 0.06);
  order: 2;
}
.ant-picker-content ul:nth-child(2) {
  border-inline-start: 1px solid rgba(5, 5, 5, 0.06);
  order: 3;
}
.ant-picker-content ul:nth-child(3) {
  border-inline-start: 1px solid rgba(5, 5, 5, 0.06);
  order: 1;
}

.ant-picker-content ul:last-child::after {
  display: none;
}

.delivery_dropdown {
  min-width: 280px !important;
}

.delivery_dropdown th:first-child,
.delivery_dropdown th:last-child {
  color: red;
}

.delivery_picker .ant-picker-input,
.delivery_picker .ant-picker-input input {
  cursor: pointer !important;
  /* color: #8d6e63 !important; */
}

.delivery_dropdown .ant-picker-cell-today,
.delivery_dropdown .ant-picker-cell-today .ant-picker-cell-inner::before {
  font-weight: bold !important;
  /* border-color: lightgray !important; */
}

.delivery_dropdown .ant-picker-cell-selected .ant-picker-cell-inner,
.delivery_dropdown .ant-picker-ok button {
  background: #a1887f !important;
}

.delivery_dropdown .ant-picker-clear {
  background: #f1e4dd !important;
}

.delivery_dropdown .ant-picker-ok .ant-btn-primary:disabled {
  color: rgba(255, 255, 255, 0.5) !important;
}

.delivery_dropdown
  .ant-picker-time-panel-cell-selected
  .ant-picker-time-panel-cell-inner {
  background: #b99b90ad !important;
}

.delivery_dropdown .ant-picker-year-btn:hover,
.delivery_dropdown .ant-picker-month-btn:hover {
  color: #a1887f !important;
}

.delivery_dropdown .ant-picker-panel-layout,
.delivery_dropdown .ant-picker-panel,
.delivery_dropdown .ant-picker-time-panel-cell-inner {
  width: 100% !important;
  text-align: center !important;
  padding: 0 !important;
}

.delivery_dropdown .ant-picker-footer-extra {
  padding: 10px 0;
  font-size: 0.85rem;
  line-height: 2rem !important;
}

.delivery_dropdown .ant-picker-time-panel-column::after {
  height: 50px !important;
}

@media screen and (max-width: 992px) {
  .ant-picker-input input {
    font-size: 1rem !important;
  }

  .ant-picker-footer-extra {
    font-size: 0.95rem;
  }
}

.delivery_picker {
  border-color: rgba(0, 0, 0, 0.3) !important;
  min-height: 48px !important;
  background: none !important;
}

.delivery_picker:hover {
  border-color: rgba(0, 0, 0, 0.3) !important;
  min-height: 48px !important;
  background: none !important;
  cursor: pointer;
  background: #f1e4dd !important;
}

.delivery_picker .ant-picker-focused {
  border-color: rgba(0, 0, 0, 0.3) !important;
  box-shadow: none !important;
}

.delivery_picker .ant-picker-input input {
  cursor: pointer !important;
}

.error {
  border: 1px solid rgb(225, 0, 0) !important;
}

.error_text {
  font-size: 0.8rem;
  font-weight: bold;
  color: rgb(225, 0, 0);
}

.quick_delivery_message {
  font-size: 0.7rem;
  /* font-weight: bold; */
}

/* font-size: clamp(0.8rem, 1vw, 1rem) !important; */

.controller_container {
  width: 60%;
}

.preview_container {
  margin-top: 2rem;
  padding: 2rem;
  background-color: #a1887f48;
  border-radius: 1rem;
}

.order_preview {
  margin-top: 1rem;
  border-bottom: 2px solid #a1887f;
  background-color: #a1887f48;
  border-radius: 1rem;
}

.preview_text {
  font-size: 0.8rem;
  opacity: 0.7;
}

.input_visible {
  display: block;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.input_hide {
  display: none;
}

.remove_button {
  padding: 0 10px;
  cursor: pointer;
  width: fit-content;
}

.disabled_text {
  font-size: 0.8rem;
  color: gray;
}
