.detail_container {
  /* height: 100vh; */
}

.image_container {
  position: sticky;
  height: fit-content;
  top: calc(var(--nav-height) + 1.5rem);
}

@media screen and (max-width: 992px) {
  .image_container {
    position: relative;
    top: 0;
  }
}

.detail_img {
  width: 100%;
  max-height: 700px;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.warning {
  font-size: 0.5rem;
  color: gray;
  text-align: end;
}

.plus_tag {
  height: 100px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(184, 161, 148);
  border-radius: 15px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.plus_tag span {
  color: var(--bg);
  font-size: 0.8rem;
}

@media screen and (max-width: 992px) {
  .plus_tag {
    flex-direction: column;
    background-color: transparent;
    box-shadow: none;
  }

  .plus_tag span {
    font-size: 0.2rem;
    color: black;
  }
}

.css-pbg3za-MuiGrid-root-MuiPickersToolbar-content {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.css-1hbyad5-MuiTypography-root,
.MuiClockPicker-arrowSwitcher,
.MuiPickersToolbar-penIconButton {
  display: none !important;
}

.order_preview {
  border-bottom: 1px solid red;
}
