.detail_container {
  height: 100vh;
}

.detail_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.css-pbg3za-MuiGrid-root-MuiPickersToolbar-content {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.css-1hbyad5-MuiTypography-root,
.css-1pjrtiy-MuiPickersToolbar-root-MuiTimePickerToolbar-root
  .MuiPickersToolbar-penIconButtonLandscape,
.css-z3au5x-MuiButtonBase-root-MuiIconButton-root-MuiPickersToolbar-penIconButton,
.css-1eam32d-MuiButtonBase-root-MuiIconButton-root-MuiClock-amButton,
.css-1wahiw3-MuiButtonBase-root-MuiIconButton-root-MuiClock-pmButton {
  display: none !important;
}
