.footer_container_top {
  margin: 0px auto;
  width: 70%;
  border-top: 1px solid rgb(216, 216, 216);
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 100px;
}

.subNav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 15px;
}

.subNav div {
  margin-right: 40px;
  cursor: pointer;
  transition: 0.2s;
}

.subNav div:hover {
  margin-right: 40px;
  color: var(--bg-accent);
  transition: 0.2s;
}

.info {
  border-top: 1px solid rgb(216, 216, 216);
  display: flex;
  padding: 10px;
}

.info_items {
  padding: 40px;
  padding-left: 0;
}

.info_items div:first-child {
  font-size: 14px;
  color: var(--bg-accent);
}

.copyright {
  color: var(--bg-accent);
  align-self: flex-end;
}
