/* navbar */

.nav_container_top {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: var(--bg);
  font-family: Simvoni;
}

.nav_container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  top: 0;
  height: var(--nav-height);
  width: 90%;
}

.main_logo {
  width: 80px;
}

div * {
  text-decoration: none;
  color: black;
}

/* NavMenu */

.nav_menu {
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  margin-left: 50px;
  transition: 0.2s;
  z-index: 10000;
}

.nav_menu:hover {
  color: var(--bg-accent);
  transition: 0.2s;
}

.nav_menu_ele {
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100vw;
  height: 300px;
}

/* NavItem */

.nav_item_container_top {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 400px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  z-index: -10;
}

.nav_item_container {
  padding-top: var(--nav-height);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav_item_image {
  width: 200px;
  padding: 20px 20px;
  transition: 0.3s;
  position: relative;
  top: 10px;
}
