/* navbar */

* a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}

ul,
li {
  list-style: none;
  margin-bottom: 0 !important;
  padding: 0 !important;
  display: flex;
}

.nav_container_top {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: var(--bg);
  font-family: var(--nav-font);
  font-size: var(--nav-font-size);
  font-weight: bold;
  width: 100vw;
  height: var(--nav-height);
}

.nav_container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  top: 0;
  width: 90vw;
}

.main_logo img {
  width: 100px;
  margin-right: 20px;
}

/* NavMenu */

.nav_menu {
  cursor: pointer;
  display: inline-block;
  transition: 0.2s;
  padding: 15px;
  z-index: 10000;
}

.nav_menu:hover {
  color: var(--bg-accent);
  transition: 0.2s;
}

.nav_menu_ele {
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100vw;
  height: 300px;
}

/* NavItem */

.nav_item_container_top {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 400px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  z-index: -10;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.nav_item_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 50px;
}

.nav_item_image {
  width: 200px;
  padding: 20px 20px;
  transition: 0.3s;
  position: relative;
  top: 10px;
}

.link_container {
  position: absolute;
  right: 150px;
  display: flex;
}

.link_icon {
  width: 30px;
  margin: 0 10px;
}

/* Responsive */

.nav_mobile {
  display: none;
  z-index: 1000;
}

@media screen and (max-width: 992px) {
  .nav_mobile {
    display: block;
  }

  .mobile {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 900;
    top: 0;
    right: calc(var(--mobile-nav-width) * -1);
    /* right: 0; */
    width: var(--mobile-nav-width);
    height: 100vh;
    background-color: bisque;
    transition: 0.5s;
  }

  .main_logo img {
    position: fixed;
    top: 17px;
    left: 50%;
    transform: translate(-50%);
    margin: 0 !important;
  }

  .triggered {
    position: fixed;
    right: 0 !important;
  }

  .nav_mobile_transparent {
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    position: fixed;
    right: -100vw;
    top: 0;
  }

  .mobile {
    z-index: 1000;
    position: absolute;
    background-color: none;
    right: calc(var(--mobile-nav-width) * -1);
    /* right: 0; */
    height: 100vh;
    width: var(--mobile-nav-width);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    transition: 0.5s;
    padding-left: 5%;
  }
}

.nav_mobile {
  position: fixed;
  right: 0px;
  top: 0px;
  z-index: 10000;
  width: var(--nav-height);
  height: var(--nav-height);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.nav_mobile_bar {
  position: absolute;
  top: 50%;
  right: 33%;
  width: 25px;
  height: 2px;
  background: rgba(0, 0, 0, 0.5);
  display: block;
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.nav_mobile_bar:after,
.nav_mobile_bar:before {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.nav_mobile_bar:before {
  top: 7px;
}

.nav_mobile_bar:after {
  bottom: 7px;
}

.close.nav_mobile_bar {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.close.nav_mobile_bar:after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  bottom: 0;
}

.close.nav_mobile_bar:before {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  top: 0;
}
