.dropdown {
  position: relative;
}

.dropdown_btn {
  background: none;
  border: none;
  text-decoration: none;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  cursor: pointer;
  padding: 15px;
  transition: 0.2s;
}

.dropdown_btn > a {
  pointer-events: none;
}

.dropdown_btn:focus,
.dropdown_btn:hover {
  color: var(--bg-accent);
  transition: 0.2s;
}

.dropdown_menu_container {
  position: absolute;
  left: 0;
  top: var(--nav-height);
  transform: translateY(-10px);
  overflow: hidden;
  white-space: nowrap;
  background-color: var(--bg);
  box-shadow: rgb(0 0 0 / 20%) 0px 8px 10px;
  opacity: 0;
  transition: 0.3s;
  visibility: hidden;
  display: block;
  padding: 20px;
}

.dropdown_menu_container a:first-child {
  margin-bottom: 10px;
}

@media screen and (max-width: 992px) {
  .dropdown_menu_container {
    position: relative;
    top: 0;
    display: block;
    background-color: transparent;
    box-shadow: none;
  }

  .dropdown_menu_img {
    display: none;
  }
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.dropdown_btn:focus + .dropdown_menu_container {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
  height: fit-content;
}

.dropdown_menu {
  transition: 0.2s;
}

.dropdown_menu:hover {
  color: var(--bg-accent);
  transition: 0.2s;
}

.dropdown_menu:hover > .dropdown_menu_img_container > .dropdown_menu_img {
  transform: scale(1.05);
  transform-origin: center;
  transition: 0.2s;
}

.dropdown_menu_img_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dropdown_menu_img {
  width: 180px;
  padding: 10px 25px;
  transition: 0.2s;
}
