.filter_container {
  position: relative;
  z-index: 90;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter_button {
  font-size: 1rem;
  align-items: center;
  padding: 10px 20px;
  margin: 0 10px;
  background-color: transparent;
  border: 1px solid var(--bg-accent);
  border-radius: 20px;
  color: var(--bg-accent);
  transition: 0.2s;
  cursor: pointer;
  font-family: var(--main-font);
}

.filter_button:hover {
  background-color: var(--bg-accent);
  color: white;
  transition: 0.2s;
}
