@font-face {
    font-family: 'Better Grade';
    src: url('BetterGrade.woff2') format('woff2'),
        url('BetterGrade.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Gmarket Sans TTF';
    src: url('GmarketSansTTFMedium.woff2') format('woff2'),
        url('GmarketSansTTFMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Cafe24 Simplehae';
    src: url('Cafe24Simplehae.woff2') format('woff2'),
        url('Cafe24Simplehae.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Moody Adolescent';
    src: url('MoodyAdolescent-Regular.woff2') format('woff2'),
        url('MoodyAdolescent-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Recipekorea';
    src: url('RecipekoreaM.woff2') format('woff2'),
        url('RecipekoreaM.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Gowun Batang';
    src: url('GowunBatang-Regular.woff2') format('woff2'),
        url('GowunBatang-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Simvoni';
    src: url('SimvoniRegular.woff2') format('woff2'),
        url('SimvoniRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'S-Core Dream 4';
    src: url('S-CoreDream-4Regular.woff2') format('woff2'),
        url('S-CoreDream-4Regular.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Ownglyph MinhyeChae';
    src: url('OwnglyphMinhyeChae.woff2') format('woff2'),
        url('OwnglyphMinhyeChae.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'VITRO INSPIRE TTF';
    src: url('VITRO-INSPIRE-TTF.woff2') format('woff2'),
        url('VITRO-INSPIRE-TTF.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'VITRO PRIDE TTF';
    src: url('VITRO-PRIDE-TTF.woff2') format('woff2'),
        url('VITRO-PRIDE-TTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

