.contact_container {
  font-family: Ownglyph;
  font-size: 25px;
}

.by_subway {
  background-color: orange;
  padding: 5px;
  border-radius: 30px;
  color: var(--bg);
}

.by_bus {
  background-color: green;
  padding: 5px;
  border-radius: 30px;
  color: var(--bg);
}
