@font-face {
  font-family: "SCDream";
  src: url("/public/fonts/SCDream.otf");
}
@font-face {
  font-family: "MoodyAdolescent";
  src: url("/public/fonts/MoodyAdolescent.ttf");
}
@font-face {
  font-family: "BetterGrade";
  src: url("/public/fonts/BetterGrade.ttf");
}
@font-face {
  font-family: "Simvoni";
  src: url("/public/fonts/Simvoni.ttf");
}
@font-face {
  font-family: "Ownglyph";
  src: url("/public/fonts/Ownglyph.ttf");
}

@font-face {
  font-family: "VITRO_PRIDE";
  src: url("/public/fonts/VITRO_PRIDE.ttf");
}

/* good */
@font-face {
  font-family: "GowunBatang";
  src: url("/public/fonts/GowunBatang.ttf");
}

html,
body {
  font-size: var(--font-size);
  line-height: 2rem;
  margin: 0;
  overflow-x: hidden;
}

body {
  width: 100vw;
  background-color: var(--bg);
  word-break: keep-all !important;
  padding-top: var(--nav-height);
}

hr {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: 1;
  margin: 3em 0 !important;
}

hr::before {
  content: "";
  background: linear-gradient(
    to right,
    transparent,
    var(--bg-accent),
    transparent
  );
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
}

hr::after {
  content: attr(data-content);
  position: relative;
  display: inline-block;
  padding: 0 0.5em;
  line-height: 1.5em;
  /* color: black; */
  color: var(--bg-accent);
  background-color: var(--bg);
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: black;
}

:root {
  --landing-font: GowunBatang;
  --main-font: GowunBatang;
  --font-size: 15px;
  --nav-font: GowunBatang;
  --nav-font-size: 0.9rem;
  --nav-height: 70px;
  --mobile-nav-width: 100vw;
  --bg: rgb(251, 239, 233);
  --bg-dark: rgb(255, 226, 211);
  --bg-deep-dark: rgb(255, 198, 169);
  --bg-accent: rgb(191, 47, 47);
  --bg-accent-filter: invert(34%) sepia(68%) saturate(3396%) hue-rotate(340deg)
    brightness(76%) contrast(95%);
  --swiper-theme-color: rgb(191, 47, 47) !important;
  --swiper-pagination-bullet-inactive-color: rgb(191, 47, 47) !important;
  --filter-width: 350px;
  --section-offset: 200px;
}
