@font-face {
  font-family: "AnandaBlack";
  src: url("/fonts/AnandaBlack.ttf");
}
@font-face {
  font-family: "BetterGrade";
  src: url("/fonts/BetterGrade.ttf");
}
@font-face {
  font-family: "MoodyAdolescent";
  src: url("/fonts/MoodyAdolescent.ttf");
}
@font-face {
  font-family: "ScholarlyAmbition";
  src: url("/fonts/ScholarlyAmbition.ttf");
}
@font-face {
  font-family: "Simvoni";
  src: url("/fonts/Simvoni.ttf");
}
@font-face {
  font-family: "Ownglyph";
  src: url("/fonts/Ownglyph.ttf");
}

html,
body {
  background-color: var(--bg);
}

:root {
  --bg: rgb(251, 239, 233);
  --bg-dark: rgb(255, 226, 211);
  --bg-deep-dark: rgb(255, 198, 169);
  --bg-accent: rgb(191, 47, 47);
  --nav-height: 70px;
  --filter-width: 350px;
  --section-offset: 200px;
}
