.filter_container_top {
  position: relative;
  z-index: 90;
  width: fit-content;
  height: 100px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  align-items: center;
}

.filter_container {
  width: fit-content;
  white-space: nowrap;
  margin: 0 auto;
}

.filter_button {
  font-size: 1em;
  white-space: nowrap;
  align-items: center;
  padding: 0.5em 1em;
  margin: 0 10px;
  background-color: transparent;
  border: 1px solid var(--bg-accent);
  border-radius: 20px;
  color: var(--bg-accent);
  transition: 0.2s;
  cursor: pointer;
  font-family: var(--main-font);
  pointer-events: stroke;
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.filter_button:hover {
  background-color: var(--bg-accent);
  color: white;
  transition: 0.2s;
}
